.Sec2 {

    height: 100vh;
    display: flex;
    gap: 15px;
    width: 70%;
    margin-left: 12%;
    height: 530px;

}

.Sec2 img {

    margin-top: 135px;
    border-radius: 5px;
    width: 500px;
    height: 500px;

}

.Sec2_1 {

    margin: 0 60px 0 5%;

}

.Sec2_1 h1 {

    margin-top: 300px;
    margin-right: 60px;
    text-align: right;

}

.Sec2_1 p {

    text-align: justify;

}

.Sec2_1 h1 img {

    margin: 0;
    width: 35px;
    height: 35px;

}